<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Export DB -->
    <add key="AppConfiguration:ExportDatabaseConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Jaskier;Integrated Security=SSPI;" />

    <!-- Build information source service -->
    <add key="AppConfiguration:BuildInfoServiceType" value="Codefusion.Jaskier.Common.Services.BitbucketBuildInfoService, Codefusion.Jaskier.Common" />
    <!-- <add key="AppConfiguration:BuildInfoServiceType" value="Codefusion.Jaskier.Common.Services.TravisTorrentBuildInfoService, Codefusion.Jaskier.Common" /> -->

    <!-- Other information services -->
    <add key="AppConfiguration:BuildStatisticsInfoServiceType" value="Codefusion.Jaskier.Common.Services.GitBuildStatisticsService, Codefusion.Jaskier.Common" />
    <add key="AppConfiguration:ChangeTrackerServiceType" value="Codefusion.Jaskier.Common.Services.GitChangesTrackerService, Codefusion.Jaskier.Common" />

    <!-- ImportDatabase / Bitbucket -->
    <add key="AppConfiguration:ImportDatabaseConnectionString" value="Data Source=source;User Id=user;Password=password;Connection Timeout=60" />
    <add key="AppConfiguration:ImportBuildStatusTableName" value="AO_CFE8FA_BUILD_STATUS" />
    <add key="AppConfiguration:ImportProjectName" value="proj" />


    <!-- ImportDatabase / TravisTorrent -->
    <!--<add key="AppConfiguration:ImportDatabaseConnectionString" value="server=localhost;user=user;database=database;port=3306;password=password;"/>
    <add key="AppConfiguration:ImportBuildStatusTableName" value="mk.travistorrent_27_10_2016"/>
    <add key="AppConfiguration:ImportProjectName" value="repo"/>-->

    <!-- Local git repository -->
    <add key="AppConfiguration:GitRepositoryPath" value="C:\Dev\proj" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>