<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AppConfiguration:GitRepositoryPath" value="C:\Temp" />
    <add key="AppConfiguration:WebClientServiceUrl" value="http://test.azurewebsites.net/" />
    <add key="AppConfiguration:ExportDatabaseConnectionString" value="Server=tcp:codefusionsqlserver.database.windows.net,1433;Initial Catalog=CoDePre;Persist Security Info=False;User ID=test;Password=test;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="ClientSettingsProvider.ServiceUri" value="http://test.azurewebsites.net/" />
    <add key="AppConfiguration:ImportDatabaseConnectionString" value="server=server;user=root;database=travistorrent;port=3306;password=test;default command timeout=60000" />
    <add key="AppConfiguration:ImportBuildStatusTableName" value="travistorrent.travistorrent_11_1_2017" />
    <add key="AppConfiguration:ImportProjectName" value="Azure/azure-sdk-for-ruby" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>